<h1>Update the menu with a Burger</h1>

<form class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">

  <div class="form-group">
    <label for="burger">Your Order:</label>
    <br>
    <textarea id="burger" name="burger_name" rows="8" cols="40">{{this.burger_name}}</textarea>
  </div>
  <button type="submit">Update Menu</button>

{{#each burger}}
{{#if devoured}}
<h2>These were yummy!</h2>
<h3>{{this.burger_name}}</h3>
{{else}}
<h3>{{this.burger_name}}</h3>
<button type="devour">Devour It</button>
{{/if}}
{{/each}}

</form>
